@font-face {
  font-family: "iconfont"; /* Project id 4222613 */
  src: url('iconfont.woff2?t=1692808523152') format('woff2'),
       url('iconfont.woff?t=1692808523152') format('woff'),
       url('iconfont.ttf?t=1692808523152') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-folderopen:before {
  content: "\e656";
}

.icon-date1:before {
  content: "\e626";
}

.icon-date:before {
  content: "\e662";
}

.icon-GitHub:before {
  content: "\ea0a";
}

.icon-hot:before {
  content: "\e680";
}

.icon-weibo:before {
  content: "\e61b";
}

.icon-FolderOpen-1:before {
  content: "\e67f";
}

.icon-24gf-tags4:before {
  content: "\e60b";
}

.icon-bilibili:before {
  content: "\e609";
}

